<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         metadata-complete="true">
<servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>by.ankudovich.contrioller.notProject.UserServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>by.ankudovich.contrioller.user.RegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registr</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>by.ankudovich.contrioller.notProject.DisplayServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>TestingJSP</servlet-name>-->
<!--        <jsp-file>/Testing4MySelf/Testing.jsp</jsp-file>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>TestingJSP</servlet-name>-->
<!--        <url-pattern>/testing-jsp</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>by.ankudovich.contrioller.user.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>display</servlet-name>
        <jsp-file>/jsp/notProducts/display.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterRedirectServlet</servlet-name>
        <servlet-class>by.ankudovich.contrioller.user.RegisterRedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterRedirectServlet</servlet-name>
        <url-pattern>/registerRedirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>by.ankudovich.contrioller.product.AddProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>welcome</servlet-name>
        <jsp-file>/jsp/welcome.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

<servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>by.ankudovich.contrioller.user.EditProfileServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayProductServlet</servlet-name>
        <servlet-class>by.ankudovich.contrioller.product.DisplayProdcutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayProductServlet</servlet-name>
        <url-pattern>/display-pr</url-pattern>
    </servlet-mapping>

</web-app>